@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
//@import "components/grid";
@import "components/wp-classes";
@import "components/sprites";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

body>#background-washout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}
// TODO: ACTUALLY FIND THE TEMPLATE AND ADD THIS DIV DIRECTLY AFTER BODY TAG

header div.container {
  background-color: white;
  border-radius: 0 0 $border-radius-large $border-radius-large;
  nav.nav-primary {
    ul.nav {
      @extend .nav-pills;
      background-color: transparent;
      & > li > a:hover { background-color: transparent; }
      width: 335px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
section {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius-large;
  &.footer {
    margin-bottom: 0;
    border-radius: $border-radius-large $border-radius-large 0 0;
    padding-top: 40px;
    padding-bottom: 40px;
    .sidebar {
      @extend .text-muted;
      .widget_search {
        @extend .pull-right, .text-right;
        padding-top: 2em;
        padding-bottom: 2em;
      }
      .widget {
        display: none;
      }
      .widget_archive, .widget_search {
        @extend .col-sm-6; display: block;
        ul {
          @extend .list-unstyled;
        }
      }
    }
  }
}
main.main {
  padding-bottom: 20px;
  figcaption {
    font-size: 15px;
    text-align: left;
    @extend .text-muted;
  }
  .single-format-image & {
    .wp-caption { border: 0px solid transparent; }
  }
  .btn-group {
    min-height: 64px;
  }
}
nav.sprites {
  &.above { margin-top: 15px; }
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-height: 74px;
  a {
    color: transparent;
    border-radius: $border-radius-base;
    margin: 5px;
    float: left;
    display: inline-block;
  }
  a:hover { margin-top: 0; }
}
