@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
//@import "components/grid";
@import "components/wp-classes";
@import "components/sprites";
@import "components/navs";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


body>#background-washout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}
@media (min-width: $screen-md-min) {
  header .row .brand { margin-left: 117px; }
}
@media (min-width: $screen-lg-min) {
  header .row .brand { margin-left: 215px; }
}

section {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius-large;
}
main.main {
  padding-bottom: 20px;
  figcaption {
    font-size: 15px;
    text-align: left;
    @extend .text-muted;
  }
}
