# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Assets
web/app/themes/sanitary-panels/.sass-cache
web/app/themes/sanitary-panels/dist
web/app/themes/sanitary-panels/bower_components
web/app/themes/sanitary-panels/node_modules