#footer .wrap {
  background-color: transparent;
  margin-bottom: 0;
  border-radius: $border-radius-large $border-radius-large 0 0;
  padding: 30px 30px;
  min-height: 20vh;
  font-size: 14px;
  p, a { color: #ccc; }
}
