nav#bottom-nav, nav#comic-nav, nav#social-nav {
  @extend .hidden-md, .hidden-lg;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  background-color: whiteSmoke;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav#comic-nav {
  bottom: 128px;
  z-index: 997;
}
nav#social-nav {
  bottom: 64px;
  z-index: 998;
}
nav#comic-nav.initial, nav#social-nav.initial:not(.out) {
  bottom: 0;
}

ul#bottom-ul, ul#social-ul, ul#comic-ul {
  @extend .list-unstyled;
  background-color: white;
  border-top: 1px solid #ddd;
  position: absolute;
  margin-bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  li.bottom-5 {
    width: 20%;
    float: left;
    min-width: 40px;
    text-align: center;
    a {
      background-color: yellow;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
a.nav-next,
a.nav-prev,
a.nav-menu,
a.nav-random,
a.nav-share,
a.nav-facebook,
a.nav-twitter,
a.nav-whatsapp,
a.nav-email,
a.nav-copy,
a.nav-first,
a.nav-last {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 54px;
}
nav#bottom-nav.expand {
  li:not(.no-3) {
    @extend .sr-only;
  }
  li.no-3 {
    margin-left: 40%;
  }
}
@media (max-width: $screen-sm-max) {
  body { padding-bottom: 64px; }
  header nav.nav-primary, div.entry-content nav.sprites { display: none; }
}
